<div class="form-container">
    <h2>{{ editingTask ? 'Edit Task' : 'Add Task' }}</h2>
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="task-form">
      <div class="form-group">
        <label for="title">Title</label>
        <input id="title" formControlName="title" />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" formControlName="description"></textarea>
      </div>
      <div class="form-group">
        <label for="dueDate">Due Date</label>
        <input type="date" id="dueDate" formControlName="dueDate" />
      </div>
      <div class="form-group">
        <label for="priority">Priority</label>
        <select id="priority" formControlName="priority">
          <option value="low">Low</option>
          <option value="medium">Medium</option>
          <option value="high">High</option>
        </select>
      </div>
      <div class="form-group">
        <label for="priority">Status</label>
        <select id="priority" formControlName="priority">
          <option value="low">To-do</option>
          <option value="medium">In progress</option>
          <option value="high">Completed</option>
        </select>
      </div>
      <!-- <button type="submit" class="submit-button">Add Task</button> -->
      <button type="submit"  class="submit-button">{{ editingTask ? 'Update Task' : 'Add Task' }}</button>
    </form>
  </div>
  