.toast-container {
    top: 20px !important; 
    right: 20px !important;
    left: auto !important; 
    bottom: auto !important;
    position: fixed !important;
  }
  
  .toast {
    width: 300px !important; 
    border-radius: 50px !important; 
    padding: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important; 
  }
  
  .toast-success {
    background-color: #d4edda !important; 
    color: #155724 !important; 
    border: 1px solid #c3e6cb; 
  }
  
  .toast-error {
    background-color: #f8d7da !important; 
    color: #721c24 !important; 
    border: 1px solid #f5c6cb; 
    }
  
  .toast-info {
    background-color: #d1ecf1 !important; 
    color: #0c5460 !important; 
    border: 1px solid #bee5eb; 
  }
  
  .toast-warning {
    background-color: #fff3cd !important; 
    color: #856404 !important; 
    border: 1px solid #ffeeba; 
  }
  
  
  .toast-close-button {
    color: #000 !important; 
    opacity: 0.8;
    font-size: 1.2em;
  }
  
  .toast-close-button:hover {
    color: #000 !important;
    opacity: 1; 
  }
  
  .toast-title {
    font-weight: bold; 
  }
  
  .toast-message {
    font-size: 1em;
  }
  